$black: black;
$white-background: white;
$grey-background: #8080802b;
$btn-blue: #1072A3;
$btn-blue-hover: #2386b8;
$grey: rgb(114, 109, 124);
$very-lite-grey: rgb(114 109 124 / 27%);
$dark-grey: #3f3f3fe6;
$box-shadow: -11px 8px 10px 0px rgba(34, 60, 80, 0.15);
