<ul class="table-colums">
  <li class="table-colums__item">ID</li>
  <li class="table-colums__item">Имя</li>
  <li class="table-colums__item">Дата</li>
  <li class="table-colums__item">Сообщение</li>
</ul>
<div class="table-wrapper">
  <app-table-body-item
    *ngFor="let message of messages | paginate: {
    itemsPerPage: 2,
    currentPage: currentPage }"
    [message]="message"
    [selectedMessageId]="selectedMessageId"
    (click)="onSelect(message)">
  </app-table-body-item>
  <pagination-controls pagination-controls class="pagination" (pageChange)="onPageChange($event)"></pagination-controls>
</div>
