
<div class="blackout">
  <div class="modal-wrapper create-modal">
    <h3>Создание сообщения</h3>
    <form class="create-modal__form">
      <input class="input" type="text" placeholder="Введите имя">
      <input class="input" type="text" placeholder="Введите текст сообщения">
      <input class="input" type="date" placeholder="Выберите дату">
      <button type="submit" class="btn btn-blue">Сохранить</button>
      <a class="cross" (click)="setCreateModalVisible()">
        <img class="img" src="/assets/icons/cross.svg" alt="cross">
      </a>
    </form>
  </div>
</div>

