<ul class="table-colums">
  <li class="table-colums__item">ID</li>
  <li class="table-colums__item">Имя</li>
  <li class="table-colums__item">Дата</li>
  <li class="table-colums__item">Сообщение</li>
</ul>
<div class="table-wrapper">
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
  <app-table-body-item></app-table-body-item>
</div>
