@import '../../../styles/variables';

:host {
  display: block;
  height: 80vh;

  overflow: hidden;
}

.table-colums {
  display: flex;
  gap: 10px;
  background-color: $grey-background;
  padding: 10px;
  color: $grey;
  font-size: 14px;
  font-weight: 500;
  margin: 10px;

  &__item {
    width: 100%;
    max-width: 150px;
  }

  &__item:last-child {
    width: 100%;
    max-width: 100%;
  }
}

.table-wrapper {
  height: 80vh;

  overflow-x: auto;
}

@media (max-width: 420px) {
  :host {
    height: 100vh;
  }

  .table-colums {
    font-size: 0.8em;
  }

  .table-item {
    gap: 5px;
    padding: 3px 11px;
    font-size: .8em;
  }
}
