<div class="blackout">
  <div class="modal-wrapper edit-modal">
    <h3>Редактирование сообщения</h3>
    <form class="edit-modal__form" [formGroup]="messageDataForm" (submit)="submitForm($event)">
      <input class="input" type="text" placeholder="Введите текст сообщения" formControlName="message">
      <button type="submit" class="btn btn-blue">Сохранить</button>
      <a class="cross" (click)="setEditModalVisible(false)">
        <img class="img" src="/assets/icons/cross.svg" alt="cross">
      </a>
    </form>
  </div>
</div>

