@import '../../../styles/variables';

.table-item {
  display: flex;
  gap: 10px;
  background-color: $white-background;
  padding: 10px;
  color: $grey;
  font-size: 14px;
  font-weight: 500;
  margin: 0 10px;

  cursor: pointer;
  transition: .3s;

  &__cell {
    width: 100%;
    max-width: 150px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__cell:last-child {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.table-item.selected {
  background-color: $blue-background;
}

.table-item:hover {
  background-color: $blue-background;
  transition: .3s;
}

.btn-delete {
  visibility: hidden;
  padding: 4px 10px;
  border-radius: 4px;
}

.table-item:hover {
  .btn-delete {
    visibility: visible;
  }
}

