@import "./app/styles/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
app-root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $white-background;
  overflow: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// scrollbar custom start

::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $grey-background;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $grey-background;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $btn-blue-hover;
}

// scrollbar custom end

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: auto;
  max-width: 1430px;
  margin: 0 auto;
  padding: 1em;
}

.btn {
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-blue {
  background-color: $btn-blue;
  color: $white-background;
}

.btn-blue:hover {
  background-color: $btn-blue-hover;
}

.btn-blue:disabled {
  background-color: $grey-background;
  color: $grey;
  cursor: initial;
}

.img {
  width: 100%;
  object-fit: cover;
}

.h3 {
  margin: 0;
}

.blackout {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: $blackout;
  top: 0;
  left: 0;
}

.modal-wrapper {
  position: relative;
  width: 100%;
  max-width: 650px;
  padding: 24px 20px 40px 25px;

  border-radius: 10px;
  background: $white-background;
}

.cross {
  display: block;
  width: fit-content;
  max-width: 20px;
  height: fit-content;
  position: absolute;
  right: 10px;
  top: 10px;

  cursor: pointer;
}

.error {
  display: none;
  position: relative;
  top: -10px;
  font-size: 12px;
  background: #ff000042;
  padding: 5px;
  border-radius: 0 0 5px 5px
}

.error.active {
  display: block;
}
