@import "./app/styles/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
app-root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $white-background;
}

app-root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  max-width: 1430px;
  padding: 0 1em;
  margin: 0 auto;
}

